/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: hsl(180, 1%, 27%);
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div img {
  width: 100%;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: hsl(34, 100%, 45%);
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  padding-bottom: 20px;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid hsl(34, 100%, 45%);
  padding: 10px;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  min-width: 0;
  margin: 8px;
}

form label {
  font-weight: bold;
  flex: 1;
}

form select,
form input {
  width: 180px;
  flex: 2;
}

form button {
  background-color: hsl(34, 100%, 45%);
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: hsl(34, 100%, 45%);
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 765px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    padding-top: 7px;
  }

  form {
    display: flex;
    justify-content: center;
  }

  form div input,
  form div select {
    width: 80%;
    margin: 5px 0;
  }

  .form-row {
    flex-direction: column;
    width: 20%;
  }

  form button {
    height: 100%;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .wrap-img {
    flex-basis: 33%;
  }
}

@media all and (min-width: 480px) {
  .logo {
    font-size: 35px;
    margin-top: 10px;
  }

  form button {
    font-size: 25px;
  }
}