/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: orange;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 50px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 20px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  width: 35%;
  align-self: center;
  position: relative;
  top: -4px;
}

form select,
form input {
  flex: 1;
  padding: 5px;
  margin-bottom: 10px;
}

form button {
  background-color: orange;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    background-color: #ff385c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    padding: 10px;
  }

  form {
    flex-direction: row;
  }

  main img {
    width: 100%;
  }

  .group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
  }

  .group-form .item {
    display: flex block;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .item label ,
  .item input ,
  .item select ,
  .item button {
    display: flex;
    width: 100%;
  }

  .grid-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    justify-content: center;
  }
  
  .grid-column img {
    width: 95%;
  }

  .grid-row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .item-double {
    display: flex;
    align-content: center;
    justify-content: center;
  }

}
